<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creat a post</title>
</head>
<body>
    <h1>create a post</h1>
    <form action="/post" method="POST">
        <input type="text" name="title" placeholder="title">
        <br>
        <br>
        <input type="text" name="username" placeholder="username">
        <br>
        <br>
        <textarea name="content" placeholder="content"></textarea>
        <br>
        <br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>